.dashboardPage{
  width: 100%;
  height: 100vh;
  background: color #e5e5e5;;
}
.dashboardContainer{
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 100%;
}
.personContent{
  display: flex;
}
.hair{
  position: absolute;
  left: 30.1%;
  top: 46%;
}
.head{
    position: absolute;
    left: 30.2%;
    top: 47%;
}
.body{
  position: absolute;
  left: 28.9%;
  top: 54%;
}
.handRight{
  position: absolute;
  left: 34.4%;
  top: 73%;
}
.armsRight{
  position: absolute;
  left: 34%;
  top: 55.3%;
}
.handLeft{
  position: absolute;
  left: 28.5%;
  top: 70%;
}
.armsLeft{
  position: absolute;
  left: 27%;
  top: 55%;
}
.leg{
  position: absolute;
  left: 29.5%;
  top: 93%;
}
.leg2{
  position: absolute;
  left: 34%;
  top: 93%;
}
.pants{
  position: absolute;
  left: 29%;
  top: 70%;
}
.shoes{
  position: absolute;
  left: 33.8%;
  top: 98%;
}
.shoes2{
  position: absolute;
  left: 29.4%;
  top: 98%;
}
.border{
  position: absolute;
  left: 20%;
  top: 100%;
  width: 500px;
}
.leaf1{
  width: 50px;
  height: 100px;
  position: absolute;
  left: 20%;
  top: 88%;
}
.leaf2{
  width: 80px;
  height: 50px;
  position: absolute;
  left: 16%;
  top: 93.5%;
}
.activityContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.boxActivity{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 12px #E4E4E4;
  width: 400px;
  height: 300px;
  border-radius: 15px;
}
.plusActivity{
  background: #16ABF8;
  border-radius: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
} 
.activityBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  gap: 50%;
  margin-top: 1rem;
}
.activityPlus{
  display: flex;
  flex-direction: row;
  background-color: #16ABF8;
  border-radius: 20px;
  width: 200px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.plusImg{
  width: 50px;
  height: 50px;
}
.plusTittle{
  text-decoration: none;
  color: #E4E4E4;
  list-style: none;
}